body {
  text-align: center;
  margin: 0;
  font-family: "Roboto", Arial;
  font-size: 200%;
}

h1 {
  margin-top: 100px;
  position: relative;
  font-size: 100px;
  color: #66BFBF;
  font-family: Helvetica,Arial;
  line-height: 2;
}

h2{
font-family:"Open+Sans";
color:#66BFBF;
font-size: 2.5rem;
font-weight: normal;
}
h3{
font-family: 'Courier New', Courier, monospace;
color: #11999E;
}

.top-container {
  background-image: url("../Pictures/firecircle.jpg");
}

.gram {
  text-decoration: underline;
  color: #66BFBF;
  font-size: 50px;
  font-weight: normal;
}
a{
  color:#11999E;
}
.skill-row{
  width: 50%;
 margin: 100px auto;
 text-align: left;
 line-height: 2;
}
.skills{
  width: 50%;
}
.brainmf{
  width: 50%;
  float: left;
}